*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
    height: 400px;
    background-color: beige;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center; 
  }

#logotexto{
    color: white;
    display: flex;
    justify-content: center;
}

h3 {
    color: blue;
    display: flex;
    justify-content: center;

}

.contenedor-imagenes {
    display: flex;
    width: fit-content;
    justify-content: center; /* Opcional: para centrar las imágenes */
    justify-content: space-evenly;
  }
  
  .contenedor-imagenes img {
    flex: 1;
    margin: 0 10px; /* Opcional: para agregar un margen entre las imágenes */
  }
  
#navbar {
    overflow: hidden;
    background-color: lightskyblue;
  }

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }

/* Page content */
.content {
    padding: 16px;
  }

